.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}